@use '@angular/material' as mat;
@use 'sass:map';
@use '../theme.scss' as theme;

div.app-container {
  display: block;
  height: 1000vh;
  width: 1000vw;
  background-color: theme.get-color(accent, 100);
}

app-bio {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}

// Prevent text SVG elements from stealing 'hover' from its parent
svg text {
  pointer-events: none;
}

/* NODES */

.node-rect {
  stroke-width: 1px;
  transition: 0.3s;
  fill: theme.get-color(primary, 100);
}

path.connected,
.node-rect:hover {
  stroke-width: 2px;
  stroke-opacity: 1;
  filter: drop-shadow(0 0 3px rgb(255 255 0 / 0.4));
}

/* CLUSTERS */

.cluster-rect {
  filter: drop-shadow(0 0 3px rgba(0 0 0 / 0.2));
  transition: 0.3s;
  fill: theme.get-color(accent, 50);
}

svg.hovered rect.cluster-rect {
  filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.4));
}


.cluster-header {
  fill: theme.get-color(primary, 900);

  ~text {
    fill: white;
  }
}

.cluster-new-window-symbol {
  fill: white;
}

.cluster-header-text {
  @include theme.get-typography(headline-5);
  // fill: theme.get-color(primary, '900-contrast');
}

svg {
  @include theme.get-font-family(body-1);

  path {
    transition: 0.3s;
  }

  .node-date,
  .node-location {
    fill-opacity: 0.5;
  }
}