<div class="app-container">
	<app-details *ngIf="detailsOpen"
		[rTree]="selectedRTree"
		(close)="closeDetails()"></app-details>
	<ngx-graph [nodes]="graph.nodes"
		[clusters]="graph.clusters || []"
		[links]="graph.edges"
		[draggingEnabled]="false"
		[panningEnabled]="true"
		[showMiniMap]="false"
		[animate]="false"
		[layout]="layout"
		[layoutSettings]="layoutSettings">

		<ng-template #nodeTemplate
			let-node>
			<svg [class]="node.data.connected ? 'node-container connected' : 'node-container'"
				(mouseover)="setConnections(node, true)"
				(mouseleave)="setConnections(node, false)"
				(dblclick)="expandCollapse(node.data.path)"
				version="1.1"
				xmlns="http://www.w3.org/2000/svg">
				<rect class="node-rect"
					attr.width={{node.dimension.width}}
					attr.height={{node.dimension.height}}
					transform="translate(1,1)"
					fill="white"
					fill-opacity="1"
					stroke="slategrey"
					stroke-width="1"></rect>
				<text attr.x="{{node.dimension.width/2}}"
					transform="translate(1,1)"
					class="node-text"
					attr.y="{{node.dimension.height/2}}"
					text-anchor="middle"
					dominant-baseline="middle">
					{{node.label}}
				</text>
				<text *ngIf="node.data.rTree.end"
					[attr.x]="node.dimension.width-40"
					[attr.y]="node.dimension.height/2+1"
					class="date"
					text-anchor="end"
					dominant-baseline="middle">
					{{node.data.rTree.end | vectorDate}}
				</text>
				<text *ngIf="node.data.rTree.location"
					[attr.y]="node.dimension.height/2+1"
					[attr.x]="10"
					class="location"
					dominant-baseline="middle">
					{{node.data.rTree.location}}
				</text>

			</svg>
			<svg [attr.x]="node.dimension.width-27"
				[attr.y]="3.5"
				xmlns="http://www.w3.org/2000/svg"
				height="24"
				viewBox="0 -960 960 960"
				width="24"
				opacity="0.75">
				<use href="../assets/icons.svg#open-new-window"></use>
			</svg>
			<svg [attr.x]="node.dimension.width-29"
				[attr.y]="1"
				width="30"
				height="30"
				class="new-window-symbol-clickbox"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24">
				<rect (click)="showDetails(node.data.rTree)"
					width="24"
					height="24"
					fill-opacity="0"></rect>
			</svg>
		</ng-template>
		<ng-template #clusterTemplate
			let-cluster>
			<svg [class]="cluster.data.connected ? 'cluster-container connected' : 'cluster-container'"
				(dblclick)="expandCollapse(cluster.data.path)"
				(mouseleave)="clusterMouseLeave($event)"
				(mouseenter)="clusterMouseEnter($event)"
				xmlns="http://www.w3.org/2000/svg">
				<clipPath id="cluster-text-bar-clip">
					<rect attr.width={{cluster.dimension.width*4}}
						attr.height="{{40}}"></rect>
				</clipPath>
				<rect class="cluster-rect"
					attr.width={{cluster.dimension.width-20}}
					attr.height={{cluster.dimension.height}}
					transform="translate(10,1)"
					stroke="slategrey"
					stroke-width="1"
					fill="white"
					fill-opacity="1">
				</rect>
				<rect class="cluster-text-bar"
					id="cluster-text-bar"
					attr.width={{cluster.dimension.width-20}}
					attr.height={{cluster.dimension.height}}
					rx="2"
					ry="2"
					transform="translate(10,1)"
					fill="slategrey"
					fill-opacity="0.5"
					clip-path="url(#cluster-text-bar-clip)"></rect>
				<text class="cluster-text"
					attr.x="{{(cluster.dimension.width)/2}}"
					y="11"
					font-size="20"
					text-anchor="middle"
					dominant-baseline="hanging">
					{{cluster.label}}
				</text>
				<text *ngIf="cluster.data.rTree.end"
					[attr.x]="cluster.dimension.width-20"
					[attr.y]="31"
					class="date"
					text-anchor="end">
					{{cluster.data.rTree.end | vectorDate}}
				</text>
				<text *ngIf="cluster.data.rTree.location"
					[attr.y]="31"
					[attr.x]="20"
					class="location">
					{{cluster.data.rTree.location}}
				</text>
			</svg>
		</ng-template>
		<ng-template #linkTemplate
			let-link>
			<svg>
				<path [attr.d]="link.line"
					[class]="link.data.connected ? 'edge connected' : 'edge'"
					stroke-width="1"
					stroke-opacity="0.2"></path>
			</svg>
		</ng-template>
	</ngx-graph>
</div>
