<!-- <ngx-graph [nodes]="nodes"
	[links]="links"
	layout="dagreCluster">
	<ng-template #nodeTemplate
		let-node>
		<svg attr.width="{{node.label.length*10}}"
			version="1.1"
			height="50"
			xmlns="http://www.w3.org/2000/svg">

			<rect x="0"
				y="0"
				attr.width="{{node.label.length*10}}"
				height="50"
				rx="5"
				ry="5"
				fill="none"
				stroke="red"></rect>
			<text attr.x="{{node.label.length * 5}}"
				y="25"
				text-anchor="middle"
				dominant-baseline="middle">
				{{node.label}}
			</text>
		</svg>
	</ng-template>
</ngx-graph> -->
<h1>Hello</h1>
