@use '@angular/material' as mat;
@use 'sass:map';
@use '../theme.scss' as theme;

div.app-container {
  display: block;
  height: 300vh;
  width: 300vw;
  background-color: theme.get-color(accent, 100);
}

// Prevent text SVG elements from stealing 'hover' from its parent
text {
  pointer-events: none;
}

.cluster-rect {
  filter: drop-shadow(0 0 3px rgba(0 0 0 / 0.2));
  transition: 0.3s;
  fill: theme.get-color(accent, 50);
}

.cluster-rect {
  filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.2));
}

.node-rect {
  stroke-width: 1px;
  transition: 0.3s;
  fill: theme.get-color(primary, 100);
}

path.connected,
.node-rect:hover {
  stroke-width: 2px;
  stroke-opacity: 1;
  filter: drop-shadow(0 0 3px rgb(255 255 0 / 0.4));
}

.cluster-header {
  fill: theme.get-color(primary, 400);
}

.cluster-header-text {
  @include theme.get-typography(headline-5);
}

svg {
  @include theme.get-font-family(body-1);

  path {
    transition: 0.3s;
  }

  .node-date,
  .node-location {
    fill-opacity: 0.5;
  }
}