@use '../../theme.scss' as theme;

.bio-border {
  stroke: theme.get-color(primary, A700)
}

.bio-textbox {
  fill: theme.get-color(primary, A100);
  stroke: theme.get-color(primary, A700);
  stroke-width: 10;
}

text.bio-label {
  @include theme.get-font-family(headline-1);
}