<div>
	<svg [attr.width]="config.profileCircleActualDimension.r*2 + config.bio.textbox.actualWidth"
		[attr.height]="config.profileCircleActualDimension.r*2"
		attr.viewBox="0 0 {{config.profileRawDimension.width + config.bio.textbox.width}} {{config.profileRawDimension.height}}"
		xmlns="http://www.w3.org/2000/svg"
		id="bio-svg">
		<defs>
			<!-- Image clip path -->
			<clipPath id="profile-clip">
				<circle [attr.cx]="config.profileRawDimension.width/2"
					[attr.cy]="config.profileRawDimension.height/2"
					[attr.r]="config.profileRawDimension.width/2"
					id="circle"></circle>
			</clipPath>
		</defs>
		<!-- Image -->
		<image class="bio"
			clip-path="url(#profile-clip)"
			href="assets/images/profile.jpg"></image>
		<!-- Border -->
		<circle [attr.cx]="config.profileRawDimension.width/2"
			[attr.cy]="config.profileRawDimension.height/2"
			[attr.r]="config.profileRawDimension.width/2-config.bio.strokeWidth/2"
			[attr.stroke-width]="config.bio.strokeWidth"
			class="bio-border"
			id="circle"
			fill="none"></circle>
	</svg>
	<button [attr.style]="'position: absolute;' +
	'left: ' + (config.profileCircleActualDimension.r*2-10) + 'px;' +
	'top: ' + (config.profileCircleActualDimension.r - config.bio.textbox.actualHeight/2) + 'px;' +
	'z-index: -1;'"
		mat-raised-button
		id="bio-button"
		color="accent">
		About Me
	</button>
</div>
