/* You can add global styles to this file, and also import other style files */
app-root {
  display: block;
  height: 300vh;
  width: 1000vw;
  background-color: azure;
}

@font-face {
  font-family: "Lora";
  src:
    local("Lora"),
    url("./assets/fonts/Lora-VariableFont_wght.ttf") format('truetype');
}

.cluster-rect {
  filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.2));
  transition: 0.3s;
}

.cluster-container.hovered>rect.cluster-rect {
  filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.2));
}

.node-rect {
  filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.2));
  stroke-width: 1px;
  transition: 0.3s;
}

.node-rect:hover,
.node-container:hover+.node-rect {
  filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.2));

  stroke-width: 2px;
}

.node-text {
  pointer-events: none;
}

.connected,
.connected>rect {
  stroke-width: 2px;
  stroke-opacity: 1;
  filter: drop-shadow(0 0 4px rgb(255 255 0 / 0.3));
}

svg {
  font-size: 16px;
  font-family: Lora;
}

svg.cluster-text {
  font-size: 24px;
}