@use 'assets/fonts/fonts.scss';

@use '@angular/material' as mat;
@use './theme.scss' as theme;
// Include common, non-theme-dependent styles for material components
@include mat.core();
// Include common, theme-dependent styles for material components
@include mat.core-theme(theme.$theme);

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}