@use '@angular/material' as mat;
@use '../../theme.scss' as theme;
@include mat.card-theme(theme.$theme-roboto);

div.card-container {
  position: fixed;
  padding: 5rem 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  mat-card {
    flex-basis: 75vw;
    min-width: 30rem;
    max-width: 65rem;

    .card-title-container {
      display: flex;
      flex: row nowrap;
      justify-content: space-between;
    }

    .title {
      @include theme.get-typography(headline-4);
      padding-bottom: 0.5rem;
    }

    .alt-title {
      opacity: 0.5;
      text-align: end;
      position: absolute;
      right: 2rem;
    }
  }

  mat-card-subtitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 1rem;
  }

  mat-card-content {
    padding-top: 0.5rem;
    max-height: 60vh;
    overflow: auto;
  }

  .card-button-close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -1.5rem;
    right: -1.5rem;
    background-color: rgba(theme.get-color(warn, darker), 1);
    border-radius: 100%;
  }
}

markdown {
  @include theme.get-typography(body-1, theme.$theme-roboto);
  text-align: justify;
  line-height: 1.5;
}